.venv/
__pycache__/
*.pyc
.molinaro-state/
build_info.json
build/
dist/
portable-windows/
*.deb
*.zip
*.tar.gz
*.xlsx
HojaSQLStudio-linux-portable/
portable-linux/HojaSQLStudio/
portable-linux/hojasql.png
