[Desktop Entry]
Type=Application
Version=1.0
Name=HojaSQL Studio
Comment=Consulta archivos Excel usando SQL en una interfaz grafica
Exec=./abrir_consola_excel_portable.sh %F
Icon=hojasql-studio
Terminal=false
Categories=Office;
